/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */
    
    

body {  
	counter-reset: preview_slide_page; 
	font-family:sans-serif;
}

#edit_mode {
	margin-left:10px;
}

.preview_edit_mode > div {
	height:500px;
	overflow:auto;
	padding-top:40px;
}

.preview_edit_mode > div > div {
	width:512px;
	margin-left:auto;
	margin-right:auto;
}

.preview_edit_mode > div > div:after {
	content: counter(preview_slide_page, decimal-leading-zero);
	counter-increment: preview_slide_page;
	font-weight:bold;
	font-size:30px;
	top:-60px;
	position:relative;
}

.preview_edit_mode > div > div > div {
	margin-left:auto;
	margin-right:auto;
	height: 320px;
	width:512px;
	overflow:hidden;
	box-shadow: 0 0 30px #3C3D40;
	margin-bottom:85px;
}

.preview_edit_mode > div > div > div:hover {
	box-shadow: 0 0 30px #070707;
}

.preview_edit_mode section.slide {
	transform: scale(0.5);
	transform-origin: 0 0;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    
    -ms-transform: scale(0.5);
    -ms-transform-origin: 0 0;
    
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

section.slide {
	background-color:white;
}

section.slide {
	font-size:25px;
	font-family:sans-serif;
}

section.slide {
	color: #000000;
    height: 560px;
    padding: 80px 120px 0;
    width: 784px;
}


section.slide h1, 
section.slide h2, 
section.slide h3, 
section.slide h4, 
section.slide h5, 
section.slide h6, 
section.slide h7 {
	color: #666666;
	font-weight: bold;
	font-size: 40px;
	margin-bottom:58px;
}

section.slide ol,
section.slide ul {
	counter-reset:list;
}

section.slide li > ul,
section.slide li > ol {
	margin-left:30px;
}

section.slide ul li:before {
	content: "•";
	font-weight:bold;
}

section.slide ol > li:before {
    content: counter(list, decimal) ".";
    counter-increment: list;
}

section.slide ol > li:before, 
section.slide ul > li:before {
    color: #BBBBBB;
    margin-left: -120px;
    position: absolute;
    text-align: right;
    width: 100px;
}

section.slide li {
	line-height: 1.75;
}

section.slide p {
	line-height:1.5;
}


section.slide blockquote {
	font-style:italic;
	border-left:20px solid #ccc;
	padding-left:10px;
}

.full {
    background: none repeat scroll 0 0 #000000;
    height: 640px;
    left: 50%;
    margin: -320px 0 0 -512px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 1024px;
}

.full .slide-container {
	display:none;
}

.full .slide-container.selected-slide {
	display:block;
}

#controls {
}

#editing_area {
	display:table;
	width:100%;
}

#editing_area > div {
	display:table-row
}

#editor_zone {
	display:table-cell;
	width:50%;
	padding-top:40px;
	padding-left:10px;
	padding-right:10px;
}

#text {
	width:100%;
	min-height:300px;
}

#slides_container {
	display:table-cell;
	padding-left:10px;
	padding-right:10px;
	vertical-align: top;
}

.hide {
	display:none!important;
}